# Object files
*.o

# Executables
test-da
da-0-0
da-0-1
da-0-2
da-0-3
da-0-4
da-0-5
da-0-6
da-0-7
da-0-8
da-0-9
da-0-10
da-0-11
da-0-12
da-0-13
da-0-14
da-0-15
da-0-16
da-0-17
da-0-18

# Debug files
*.vgcore
